.shopcategory-products{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    row-gap:20px;
}
.shopcategory-loadmore{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-block:80px;
    padding:10px 15px;
    width:230px;
    background-color: var(--secondary-color);
    border-radius: 50px;
    justify-self: center;


}
.shop-category > img{
    width:100%;
}
.shopcategory-indexSort{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 25px;
}
@media(max-width:1024px){
    .shopcategory-products{
        grid-template-columns: repeat(2 , 1fr);
    }
}
@media(max-width:767px){
    .shopcategory-products{
        grid-template-columns: repeat(1 , 1fr);
    }
}